@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600");
@import url("https://fonts.googleapis.com/css?family=Lora");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@import url("https://fonts.googleapis.com/css?family=Lato");
@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

html {
  background-color: #030c18;
  overflow: scroll;
  overflow-x: hidden; }

::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */ }

body.page-template-page-fullsingle-split {
  background-color: #030c18;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-weight: 400;
  font-size: 21px;
  line-height: 33px;
  letter-spacing: -0.2px;
  color: #b6c1c9; }
  body.page-template-page-fullsingle-split p {
    color: #b6c1c9; }

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(720deg); } }

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(720deg); } }

@keyframes spin {
  100% {
    -webkit-transform: rotate(720deg);
    transform: rotate(720deg); } }

#logo {
  width: 40px;
  top: 0px;
  left: 0px;
  margin: 50% 0% 0% 50%;
  align-items: normal;
  position: relative;
  -webkit-animation: spin .5s ease-in-out;
  -moz-animation: spin .75s ease-in-out;
  animation: spin .75s ease-in-out;
  animation-delay: .15s; }

.fs-split {
  width: 100vw;
  height: 100vh;
  display: flex; }
  @media (max-width: 800px) {
    .fs-split {
      height: auto;
      flex-wrap: wrap; } }
  .fs-split .split-image {
    width: 50%;
    height: 100vh;
    background-image: url("../../images/background.jpg");
    background-position: center center;
    opacity: 0;
    background-size: cover;
    -webkit-animation: fadein 1.3s;
    animation: fadein 1.3s forwards;
    animation-delay: 1s; }
    @media (max-width: 800px) {
      .fs-split .split-image {
        height: 80vh;
        width: 100%; } }
  .fs-split .split-image-mobile {
    width: 100%;
    height: 100vh;
    background-image: url("../../images/background.jpg");
    background-position: center center;
    opacity: 0;
    background-size: cover;
    -webkit-animation: fadein 1.3s;
    animation: fadein 1.3s forwards;
    animation-delay: 1s;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative; }
  @media screen and (device-width: 360px) and (device-height: 640px) {
    .fs-split .split-image {
      display: none;
      opacity: 0; } }
  @media only screen and (max-device-width: 640px) {
    .fs-split .split-image {
      display: none;
      opacity: 0; } }
  @media only screen and (max-device-width: 768px) {
    .fs-split .split-image {
      display: none;
      opacity: 0; } }
  .fs-split .split-content {
    width: 50%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto; }
    @media (max-width: 800px) {
      .fs-split .split-content {
        width: 100%;
        height: auto; } }
    .fs-split .split-content .split-content-vertically-center {
      padding: 80px;
      max-width: 640px;
      margin-top: auto;
      margin-bottom: auto; }
      @media (max-width: 1200px) {
        .fs-split .split-content .split-content-vertically-center {
          padding: 60px; } }
      @media (max-width: 800px) {
        .fs-split .split-content .split-content-vertically-center {
          padding: 40px; } }

.split-intro {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  -webkit-animation: fadein 1.3s;
  opacity: 0;
  animation: fadein 1.3s forwards;
  animation-delay: 1.15s; }
  .split-intro h1 {
    font-weight: bold;
    font-size: 40px;
    line-height: 1.2em;
    padding-bottom: 5px;
    letter-spacing: 0.4px;
    color: #e7f0f8;
    margin-left: -10px;
    padding-left: 10px;
    margin-bottom: 5px;
    border-radius: 2px;
    color: #e7f0f8; }
  .split-intro .tagline {
    color: #e7f0f8;
    letter-spacing: 1px; }

.split-bio {
  padding: 20px 0 40px 0;
  font-family: 'Open Sans', serif;
  -webkit-animation: fadein 1.3s;
  opacity: 0;
  animation: fadein 1.3s forwards;
  animation-delay: 1.45s; }
  @media (max-width: 1200px) {
    .split-bio {
      padding: 30px 0; } }
  @media (max-width: 800px) {
    .split-bio {
      padding: 20px 0; } }
  .split-bio p {
    color: #b6c1c9; }
  .split-bio a:not([class]) {
    color: #774bdf;
    font-weight: bold;
    display: inline;
    position: relative;
    overflow: hidden;
    transition: color .2s ease-in-out; }
    .split-bio a:not([class]):after {
      content: '';
      position: absolute;
      z-index: -1;
      right: -3px;
      width: 0;
      bottom: 3px;
      background: linear-gradient(120deg, #6a11cb 0%, #2575fc 100%);
      height: 20px;
      transition: width .25s ease-out; }
    .split-bio a:not([class]):hover:after, .split-bio a:not([class]):focus:after, .split-bio a:not([class]):active:after {
      left: -2px;
      right: auto;
      width: 106%; }
    .split-bio a:not([class]):hover {
      color: white; }

.underline--magical {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position: 0% 100%;
  animation: color-me-in 1s forwards;
  animation-delay: 2.9s; }

@keyframes color-me-in {
  0% {
    background-size: 0% 100%; }
  100% {
    background-size: 100% 100%; } }

.split-lists {
  margin-top: 15px; }
  .split-lists .split-list {
    width: 30%;
    display: inline-block;
    margin-bottom: 40px;
    vertical-align: top;
    opacity: 0; }
    @media (max-width: 500px) {
      .split-lists .split-list {
        width: 90%; } }
    .split-lists .split-list h3 {
      font-weight: 400;
      text-transform: uppercase;
      font-size: 11px;
      line-height: 11px;
      margin-bottom: 20px;
      color: #b6c1c9;
      letter-spacing: 2px;
      opacity: 0.5; }
    .split-lists .split-list ul li {
      font-size: 16px;
      line-height: 16px;
      margin-bottom: 12px; }
      .split-lists .split-list ul li a:not([class]) {
        color: #b6c1c9;
        display: inline;
        position: relative;
        overflow: hidden; }
        .split-lists .split-list ul li a:not([class]):after {
          content: '';
          position: absolute;
          z-index: -1;
          right: 0;
          width: 0;
          bottom: -1px;
          background: linear-gradient(120deg, #6a11cb 0%, #2575fc 100%);
          height: 2px;
          transition: width .25s ease-out; }
        .split-lists .split-list ul li a:not([class]):hover:after, .split-lists .split-list ul li a:not([class]):focus:after, .split-lists .split-list ul li a:not([class]):active:after {
          left: 0;
          right: auto;
          width: 100%; }
  .split-lists .split-list:nth-child(1) {
    animation: fadein 1.3s forwards;
    animation-delay: 1.75s; }
  .split-lists .split-list:nth-child(2) {
    animation: fadein 1.3s forwards;
    animation-delay: 1.90s; }
  .split-lists .split-list:nth-child(3) {
    animation: fadein 1.3s forwards;
    animation-delay: 2.05s; }

.social-links {
  text-align: center;
  align-items: center;
  justify-content: center; }
  .social-links .social {
    border: 1px solid #b6c1c9;
    border-radius: 30px;
    color: #b6c1c9;
    height: 40px;
    width: 40px;
    font-size: 25px;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    vertical-align: bottom;
    margin: 0px 10px 0px 10px;
    opacity: 0;
    transition-duration: 0.5s; }
    .social-links .social:hover {
      color: #6a11cb;
      border-color: #6a11cb;
      transition-duration: 0.1s; }
  .social-links .social:nth-child(1) {
    animation: fadein 1.3s forwards;
    animation-delay: 2.35s; }
  .social-links .social:nth-child(2) {
    animation: fadein 1.3s forwards;
    animation-delay: 2.50s; }
  .social-links .social:nth-child(3) {
    animation: fadein 1.3s forwards;
    animation-delay: 2.65s; }

.split-credit {
  opacity: 0.4; }
  .split-credit p {
    font-size: 12px;
    line-height: 14px; }
    .split-credit p a {
      color: #b6c1c9; }

.split-video {
  overflow: hidden;
  position: relative; }

.video-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.video-container {
  position: relative;
  overflow: hidden;
  height: 56.25vw;
  width: 100vw; }
  @media (max-aspect-ratio: 16 / 9) {
    .video-container {
      height: 100vh;
      width: 177.7777777778vh; } }

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

video.video {
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  height: 100%; }
